cli/merge/presenters_not_registered.csv
cli/merge/presenters_ticket_no_sessions_selected.csv
cli/merge/presenters_ticket_not_allocated.csv
cli/merge/users_order_ticket_not_allocated.csv
cli/merge/users_with_special_needs.csv
cli/merge/users_with_ticket.csv
cli/merge/users_with_ticket_and_sessions.csv
cli/merge/users_with_ticket_no_sessions.csv
cli/merge/users_with_ticket_type_116.csv
cli/merge/users_with_ticket_type_118.csv
cli/merge/users_with_ticket_type_3656.csv
cli/merge/users_with_ticket_type_3722.csv
cli/merge/users_with_ticket_type_3724.csv
cli/merge/users_with_ticket_type_3726.csv
cli/merge/users_with_ticket_type_3728.csv
cli/merge/users_with_ticket_type_4796.csv
cli/merge/users_with_ticket_type_4798.csv
cli/merge/users_with_ticket_type_4800.csv
cli/merge/users_without_ticket.csv
cli/apple.csv
